*{
    font-size: 20px;
    color: green;
    
    margin: 0px;
    box-sizing: border-box;
}

.sticky{
    width: 100%;
    height: 200px;
    background-color: orangered;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.content{
    background-color: black;
    width: 100%;
    height: 99vh;

    place-content: flex-start;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    overflow:auto;
}
.logo{
    width: 100%;
    height: 100%;
    margin: 0 auto 0;
}
.image{
    width: 90%;
    height: auto;
    
}
.writeup{
    background-color: blue;
    width: 20%;
    height: 20%;
}