*{
    font-size: 20px;
    color: green;
    
    margin: 0px;
    box-sizing: border-box;
}

.sticky{
    width: 100%;
    height: 200px;
    background-color: orangered;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.content{
    background-color: black;
    width: 100%;
    height: 99vh;

    place-content: center;

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    overflow:auto;
}
.logo{
    width: 100%;
    height: 100%;
    
    grid-row: 2/3;
    grid-column: 2/3;
    
}
.image{
    width: 90%;
}
.sidebar{
    width: 50%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/4;

    place-items: center;
    
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c";
}
.content-area{
    grid-column: 3/4;
    grid-row: 1/4;
}